__pycache__/
*.py[cod]
*$py.class
.env
.git
.gitignore
.vscode
.idea
venv/
env/
*.sqlite3-journal
.gemini
SavoRelle/
ems/
minipro/
todo_app/
django-test/
populate_db.py
create_superuser.py
requirements.txt
Dockerfile
docker-entrypoint.sh
